#panel{
    color: black;
   align-content: center;
   background-color: #198754;
   text-align: center;
   margin-bottom: 50px;
}

.products-list-container{
    margin-bottom: 50px;
}

button{
    color: white;
    background-color: #062215;
    
}
.text{
    margin-left: 42%;
    font-style: italic;
}